@model ELearningProject.DAL.Entities.Student
@{
    Layout = null;
}
<!DOCTYPE HTML>
<html>

<head>
    <title>Öğrenci | Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <link href="~/Templates/web/css/font-awesome.css" rel="stylesheet">
    <link href="~/Templates/web/css/style.css" rel='stylesheet' type='text/css' />
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
</head>

<body>
    <h1>ÖĞRENCİ </h1>
    <div class="clear-loading spinner">
        <span></span>
    </div>
    <div class="w3ls-login box box--big">
        <form method="post">
            <div class="agile-field-txt">
                <label><i class="fa fa-user" aria-hidden="true"></i> E-Mail </label>
                @Html.TextBoxFor(model => model.Mail, new { required = "required" })
                @Html.ValidationMessageFor(x => x.Mail)
            </div>
            <div class="agile-field-txt">
                <label><i class="fa fa-unlock-alt" aria-hidden="true"></i> Şifre </label>
                @Html.PasswordFor(model => model.Password, new { required = "required", id = "myInput" })
                @Html.ValidationMessageFor(x => x.Password)
                <div class="agile_label">
                    <input id="check3" name="check3" type="checkbox" value="show password" onclick="myFunction()">
                    @Html.LabelFor(model => model.Password, new { @class = "check" })
                </div>
            </div>  

            <script>
                function myFunction() {
                    var x = document.getElementById("myInput");
                    if (x.type === "password") {
                        x.type = "text";
                    } else {
                        x.type = "password";
                    }
                }
            </script>

            <input type="submit" value="GİRİŞ" style="width:100%">
        </form>
    </div>

    <div class="copy-wthree">
        <p>
            © @DateTime.Now.Year  Tüm Hakları Saklıdır | Düzenleyen
            <a href="https://www.linkedin.com/in/yusuf-kele%C5%9F-3bb788202/" target="_blank">YuKee</a>
        </p>
    </div>

</body>
</html>
