@model List<ELearningProject.DAL.Entities.Course>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Index</h2>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Kurs Adı</th>
        <th>Kurs Kategorisi</th>
        <th>Kurs Eğitmeni</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @if (ViewBag.courseCount == 0)
    {
        <div class="alert alert-info" role="alert">
            Kurs kaydı bulunmamaktadır.
        </div>
    }
    else
    {
        foreach (var item in Model)
        {
            <tr>
                <td>@item.CourseID</td>
                <td>@item.Title</td>
                <td>@item.Category.CategoryName</td>
                <td>@item.Instructor.Name @item.Instructor.Surname</td>
                <td><a href="/Course/DeleteCourse/@item.CourseID" class="btn btn-outline-danger">Sil</a></td>
                <td><a href="/Course/UpdateCourse/@item.CourseID" class="btn btn-outline-success">Güncelle</a></td>
            </tr>
        }
    }
</table>
<a href="/Course/AddCourse/" class="btn btn-outline-primary">Kurs Ekle</a>